@media (min-width: 320px) and (max-width: 576px)
{
    /* nav start */
    nav{
        top: 0;
    }
    nav ul{
        background: #3E82FC;
        padding: 12px !important;
        border-radius: 6px;
    }
    nav li{
        margin: 0px !important;
        border-bottom: 1px solid #3E82FC;
    }
    .nav_a {
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
    }
    nav li:hover{
        border-bottom: 1px solid #ffffff;
    }

    /* nav end */

    /* hero part start */
    .hero_top {
        padding-top: 200px;
    }
    .hero_image img {
        width: 70%;
    }
    .hero_h1 {
        font-size: 43px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0;
    }
    .hero_p {
        font-size: 16px;
        margin: 10px 0 35px 0;
    }
    .hero_button {
        font-size: 15px;
        padding: 6px 10px;
        border-radius: 8px;
    }
    .watch_vdo_btn{
        margin-top: 16px;
    }
    .hero_bottom_sub{
        margin-top: 30px;
    }
    .hero_end_h6 {
        padding: 20px 0 0px 0;
        font-size: 15px;
        line-height: auto;
    }
    /* hero part start */

    /* one start */
    .one_img img {
        width: 70%;
    }
    .one_img{
        text-align: center;
    }
    #one {
        margin: 50px 0 35px 0;
        padding-bottom: 35px;
    }
    .one_text {
        margin-left: 0;
    }
    .one_text_h2 {
        font-size: 43px;
        line-height: 100%;
        letter-spacing: 0;
        margin-top: 40px;
    }
    .one_text_p {
        font-size: 16px;
        font-weight: 500;
    }
    .one_text_button{
        font-size: 15px;
        padding: 6px 15px;
        border-radius: 8px;
    }
    .num_one {
        bottom: 0px;
        right: 0;
        z-index: -1;
    }
    /* one end */

    /* trusted clints start */
    .trusted_clints_heading h3 {
        margin-bottom: 40px;
    }
    .clint_logo {
        margin-top: 50px;
    }
    /* trusted clints end */

    /* two start */
    #two {
        padding: 30px 0 0px 0;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .two_text_h2 {
        font-size: 43px;
        letter-spacing: 0px;
    }
    .two_text_p {
        font-size: 16px;
        font-weight: 500;
    }
    .num_two {
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .two_text_button {
        font-size: 16px;
        padding: 8px 10px;
        border-radius: 6px;
    }
    .two_img img {
        width: 70%;
        padding: 30px 0;
    }
    .two_img{
        text-align: start !important;
    }
    /* two end */

    /* three start */
    #three {
        padding: 40px 0;
        margin: 0 0 30px 0;
    }
    .three_img{
        text-align: end;
    }
    .three_img img {
        width: 70%;
        padding: 0;
    }
    .three_text {
        margin-left: 0;
    }
    .three_text_h2 {
        font-size: 43px;
        letter-spacing: 0;
        margin-top: 40px;
    }
    .three_text_p {
        font-size: 16px;
        font-weight: 500;
        margin: 30px 0 35px 0;
    }
    .num_three {
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .three_text_button {
        font-size: 16px;
        padding: 8px 10px;
        border-radius: 6px;
    }
    /* three end */

    /* clints review start */
    .review_heading h3 {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 0.4px;
        margin-bottom: 30px;
    }
    .review_item{
        border-radius: 100px 0;
        box-shadow: none;
        background: #04ffd527 !important;
        padding: 52px 57px;
        margin-bottom: 0px;
    }
    .clint_carousel {
        margin-bottom: 30px;
    }
    .clint_item_width {
        max-width: 80% ;
    }
    /* clints review end */

    /* footer start */
    #footer {
        padding: 40px 0 1px 0;
    }
    .sub_h2 {
        margin: 0 0 12px 0;
    }
    .sub_p {
        margin: 0 0 30px 0;
    }
    .i_email {
        height: 45px;
        padding: 0 45px;
        width: 90%;
    }
    .i_email::placeholder{
        text-align: center;
        color: #3E82FC;
        font-size: 14px;
        font-weight: 400;
    }
    form i {
        top: 10px;
        left: 30px;
    }
    .i_button {
        width: 150px;
        height: 40px;
        border-radius: 25px;
        margin-top: 16px;
    }
    form {
        margin-bottom: 0px;
    }
    .list_item {
        margin-bottom: 10px;
    }
    .ul_heading {
        margin-bottom: 10px;
    }
    .end {
        margin-top: 20px;
    }
    .end p {
        font-size: 14px;
    }

    /* footer end */

}
@media (min-width: 576px) and (max-width: 768px)
{
    /* nav start */
    nav{
        top: 0;
    }
    nav ul{
        background: #3E82FC;
        padding: 12px !important;
        border-radius: 6px;
        gap: 12px;
    }
    nav li{
        margin: 0px !important;
        border-bottom: 1px solid #3E82FC;
    }
    .nav_a {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
    }
    nav li:hover{
        border-bottom: 1px solid #ffffff;
    }

    /* nav end */

    /* hero start */
    .hero_top {
        margin-bottom: 30px;
    }
    .hero_image{
        display: flex;
        align-items: start;
    }
    .hero_image img{
        width: 100%;
        padding: 0;
    }
    .hero_h1 {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0px;
    }
    .hero_p {
        margin: 10px 0 30px 0;
        font-size: 16px;
        font-weight: 400;
    }
    .watch_vdo_btn{
        margin-top: 12px;
    }
    .hero_button {
        font-size: 15px;
        padding: 6px 10px;
        border-radius: 8px;
        font-weight: 400;
    }
    .hero_bottom_h3 {
        font-size: 20px;
    }
    .hero_bottom_p {
        font-size: 16px;
        line-height: 20px;
    }
    .hero_end_h6 {
        padding: 0 0 0 0;
    }
    /* hero end */
    
    /* one start */
    #one {
        margin: 40px 0 40px 0;
    }
    .one_img img{
        width: 100%;
    }
    .one_text {
        margin-left: 0px;
    }
    .one_text_h2 {
        font-size: 40px;
    }
    .one_text_p {
        font-size: 16px;
        margin: 12px 0 16px 0;
    }
    .one_text_button{
        font-size: 15px;
        padding: 6px 15px;
        border-radius: 8px;
        font-weight: 400;
    }
    .num_one {
        bottom: 0px;
        right: 20px;
        z-index: -1;
    }
    /* one end */

    /* clints start */
    .trusted_clints_heading h3 {
        letter-spacing: 0px;
        margin-bottom: 0px;
    }
    .clint_logo {
        margin-top: 50px;
    }
    .trip_raja {
        margin-top: 35px;
    }
    .clint_item_width {
        max-width: 80% ;
    }
    /* clints end */

    /* two start */
    #two {
        margin: 70px 0 0px 0;
    }
    .two_img img{
        width: 100%;
    }
    .two_text_h2 {
        font-size: 40px;
        letter-spacing: 0px;
    }
    .two_text_p {
        font-size: 16px;
    }
    .two_text_button{
        font-size: 15px;
        padding: 6px 15px;
        border-radius: 8px;
        font-weight: 400;
    }
    .num_two {
        bottom: 0px;
        right: 20px;
        z-index: -1;
    }
    /* two end */

    /* three start */
    #three {
        margin: 70px 0 50px 0;
    }
    .three_img img{
        width: 100%;
    }
    .three_text_h2 {
        font-size: 40px;
        letter-spacing: 0px;
    }
    .three_text_p {
        font-size: 16px;
    }
    .three_text_button{
        font-size: 15px;
        padding: 6px 15px;
        border-radius: 8px;
        font-weight: 400;
    }
    .num_three {
        bottom: 0px;
        right: 20px;
        z-index: -1;
    }
    /* three end */

    /* clints review start */
    .review_heading h3 {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 0.4px;
        margin-bottom: 30px;
    }
    .review_item{
        border-radius: 100px 0;
        box-shadow: none;
        background: #04ffd527 !important;
        padding: 52px 57px;
        margin-bottom: 0px;
    }
    .clint_carousel {
        margin-bottom: 30px;
    }
    /* clints review end */

    /* footer start */
    #footer {
        padding: 40px 0 1px 0;
    }
    .sub_h2 {
        line-height: 50px;
    }
    .sub_p {
        margin: 0 0 30px 0;
        font-size: 16px;
    }
    .foot_form{
        width: fit-content;
    }
    .i_email {
        border-radius: 30px;
        width: 380px;
        height: 50px;
    }
    form i {
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
    }
    .i_button {
        height: 50px;
        border-radius: 30px;
        width: 150px;
    }
    form {
        margin-bottom: 50px;
    }
    .foot_logo {
        padding-top: 0px;
    }
    .foot_p {
        font-size: 16px;
        margin-bottom: 35px;
    }
    .foot_ul i {
        height: 40px;
        width: 40px;
        font-size: 30px;
        line-height: 40px;
    }
    .ul_heading {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .list_item {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .end {
        margin-top: 10px;
    }
    .end p {
        font-size: 14px;
    }
    /* footer end */
}